---
layout: 2020/list
section: propuestas
permalink: 2020/otras/
title: Otras propuestas esLibre 2020
---

<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h1 class="main-header display-4"><strong>Otras propuestas para es<span class="red">Libre</span> 2020</strong></h1>
  </div>
</div>
<hr class="my-4">

<ul id="list" style="padding-bottom: 12em;">
  {% for other in site.pages %}
  {% if other.path contains '2020/otras' and other.path contains '.md' and other.category == 'others' %}
  <li><a href="/{{ other.path | remove_first: ".md" }}">{{ other.title }}</a></li>
  {% endif %}
  {% endfor %}
</ul>
